body {
    background: url("../assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 98vh;
    width: 98%;

}

div.login {
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

input {
    position: relative;
    background: transparent;
    padding: 10px 0;
    width: 200px;
    border-color: white;
    border-radius: 4px;
    color: white;

}

input[type=text] {
    padding: 10px 45px !important;
    outline: none;
    font-size: 16px;
    
}
input[type=text]:focus {
    border: 2px solid rgb(210, 207, 207);
}

input[type=password] {
    padding: 10px 45px;
    outline: none;
}
input[type=password]:focus {
    border: 2px solid rgb(210, 207, 207);
}

.login i.user {
    position: absolute;
    left: 6%;
    top: 39.5%;
    color: white;
    opacity: 0.7;
}

.login i.lock {
    position: absolute;
    left: 6%;
    top: 56.5%;
    color: white;
    opacity: 0.5;
}

textarea {
    padding: 100px;
}

::placeholder {
    color: rgb(250, 252, 252);
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    opacity: 0.5;
    font-size: 14px;
}

img {
    height: 80px;

}

button {
    width: 290px;
    color: blue;
    padding: 8px 0;
    border-radius: 4px;
    border-color: white;
    font-weight: 700;

}

a.forgot {
    margin-top: -10px;
    float: right;
    color: white;
    text-decoration: none;
    opacity: 0.5;
}

p {
    align-items: center;
    color: rgb(163, 162, 162);
    opacity: 0.7;
}

a.sign {
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}
